<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TR KAPITA 672022226</title>
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="../static/alfa.css" rel="stylesheet">
    <link rel="website icon" type="png" href="../static/img/D-Logoo.png">
</head>
<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-alfamart sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/vendors">
                <div class="sidebar-brand-text mx-3">TR Kapita <sup>672022226</sup></div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="/vendordor">
                    <i class="fas fa-fw fa-box"></i>
                    <span>Vendors</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/branchdor">
                    <i class="fas fa-fw fa-code-branch"></i>
                    <span>Branchs</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bankdor">
                    <i class="fas fa-fw fa-university"></i>
                    <span>Banks</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pesanan">
                    <i class="fas fa-shipping-fast"></i>
                    <span>Order</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/landing">
                    <i class="fas fa-address-card"></i>
                    <span>About Creator</span>
                </a>
            </li>
            <li class="nav-item mt-auto">
                <a class="nav-link" href="/logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>
            
        </ul>
        
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <h3 class="h3 mb-0 text-gray-800">Daniel Darren Richardo</h3>
                </nav>

                <div class="container-fluid">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900">Hello {{username}}, Welcome to Project Kapita Management</h1>
                        <p>Use the sidebar to navigate between sections.</p>
                    </div>
                </div>
            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>© 2024 Daniel Darren Richardo</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/js/sb-admin-2.min.js"></script>
</body>
</html>
